@use '../sass/abstracts/vars.scss';

.btn {
    background-color: limegreen;
    color: white;
    border: 1px solid white;
    padding: .5rem 1rem;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 200px;
    //margin: .5rem;
    a {
        color: vars.$color_black;
        text-decoration: none;
    }
    &.primary {
        background-color: vars.$color_primary;
    }
    &.secondary {
        background-color: white;
        border: 1px solid limegreen;
        a {
            color: limegreen;
        }
    }
}